/*body {
	background-color: black;	
}*/

body{
	margin: 0;  
}
        
#gameCanvas {
  margin-top: 100px;
  /* background-color: #000; */
}

#myCanvas {
  margin: auto;
	display: block;
}

#controls {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

